body{
    font-family: sans-serif;
    background-color: rgb(229, 218, 199);
}

.menu_bar{
    position: relative;
}



nav{
    display: flex;
    width:84%;
    margin:auto;
    padding: 20px 0;
    justify-content: flex-end;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
  
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(149, 101, 13);
}

.name{
  margin-left: 8%;
}

.name h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.sub{
    color: rgb(149, 101, 13);
    font-size: 20px;
}

.three_words{
    font-size: 15px;
}

span{
    color: rgb(149, 101, 13);
}

.name{
    display: flex;
    position: relative;
    justify-content: space-between;
}


img{ 
    width: 45%;
    height:80%;  
    margin: 20px;
    border-radius: 20px;
}

.projects{
    display: flex;
    position: relative;
    justify-content: space-around;  
    color: black;
    font-size: 20px;
}

.projects_header{
    padding-left: 8%;
}

.pro{
    background-color: rgba(149, 101, 13, 0.266);
    height: 30px;
    width: 50%;
    text-align: center;
    padding: 10px;
    margin: 8%;
}

div a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.about_header{
    color:(149, 101, 13, 0.266);
}

.about{
    padding-left: 8%;
    font-size: 15px;
}

